$primary-color: #7c4dff;

.button-component {
  background: $primary-color;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  width: max-content;
  cursor: pointer;
  &:hover {
    background: #6a3dff;
  }
  &.btn-loading {
  }
}

.modal-container {
  .modal-content {
    background: #191919;
    padding: 15px 20px;
    .modal-title {
      font-size: 17px;
      font-weight: 500;
      color: #fff;
    }
    .modal-description {
      font-size: 14px;
      font-weight: 400;
      color: #888;
      margin-bottom: 5px;
    }
    .modal-close-icon {
      cursor: pointer;
      color: #888;
      &:hover {
        color: $primary-color;
      }
    }
    .modal-form-title {
      font-size: 13px;
      font-weight: 300;
      color: lightgray;
      margin-bottom: 5px;
    }
  }
  .add-task-modal-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    .add-task-modal-tags {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 5px;
      padding: 5px 10px;
      padding-right: 5px;
      font-size: 12px;
      font-weight: 300;

      cursor: pointer;
      p {
        margin-bottom: 0;
      }
      &:hover {
        background: #888;
      }
    }
  }
}

.input-type {
  background: #252525;
  border-radius: 5px;
  padding: 7px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  &:focus {
    border: 1px solid $primary-color;
  }
}

.violet-tag {
  color: #7a3dff;
  border: 1px solid rgba(122, 61, 255, 0.3);
  background-color: rgba(122, 61, 255, 0.1);
}
.blue-tag {
  color: rgb(33, 150, 243);
  border: 1px solid rgba(33, 150, 243, 0.3);
  background-color: rgba(33, 150, 243, 0.1);
}
.pink-tag {
  color: #f06292;
  border: 1px solid rgba(240, 98, 146, 0.3);
  background-color: rgba(240, 98, 146, 0.1);
}
.orange-tag {
  color: rgb(255, 87, 34);
  border: 1px solid rgba(255, 87, 34, 0.3);
  background-color: rgba(255, 87, 34, 0.1);
}
.yellow-tag {
  color: #ffea00;
  border: 1px solid rgba(255, 234, 0, 0.3);
  background-color: rgba(255, 234, 0, 0.1);
}
.lime-tag {
  color: #cddc39;
  border: 1px solid rgba(205, 220, 57, 0.3);
  background-color: rgba(205, 220, 57, 0.1);
}
.amber-tag {
  color: #ffc107;
  border: 1px solid rgba(255, 193, 7, 0.3);
  background-color: rgba(255, 193, 7, 0.1);
}
.cyan-tag {
  color: #00bcd4;
  border: 1px solid rgba(0, 188, 212, 0.3);
  background-color: rgba(0, 188, 212, 0.1);
}

.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: $primary-color;
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: $primary-color;
  border-color: $primary-color;
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

.circular-loader {
  animation: rotate 2s linear infinite;
  height: 20px;
  transform-origin: center center;
  width: 20px;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
